<div class="authentication">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<form class="card auth_form" #form="ngForm" (submit)="resetPassword(form)">
					<div class="header">
						<img class="logo" src="assets/images/hdc.png" alt="">
						<h5>Reset Password</h5>
						<span>Enter your new login password</span>
					</div>
					<div class="body">
						<div class="mb-3">
							<div class="input-group">
								<input type="password" class="form-control" placeholder="Password" [(ngModel)]="password.newPassword" name="newPassword"
								 #newPassword="ngModel" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,64}$" required>
								<div class="input-group-append">
									<span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
								</div>
							</div>
							<span class="error" *ngIf="newPassword.errors?.required && form.submitted">Please enter password</span>
							<span class="error" *ngIf="newPassword.errors?.pattern && form.submitted">Password must have minimum 6 words, one
								special character and number</span>
						</div>
						<div class="mb-3">
							<div class="input-group">
								<input type="password" class="form-control" placeholder="Confirm Password" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,64}$"
								 [(ngModel)]="password.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required>
								<div class="input-group-append">
									<span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
								</div>
							</div>
							<span class="error" *ngIf="confirmPassword.errors?.required && form.submitted">Please enter confirm password</span>
							<span class="error" *ngIf="confirmPassword.errors?.pattern && form.submitted">Confirm password must have minimum
								6 words, one special character and number</span>
							<span class="error" *ngIf="(!confirmPassword.errors) && password.confirmPassword!=password.newPassword && form.submitted">Password
								and confirm password does not match</span>
						</div>
						<button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SUBMIT</button>
					</div>
				</form>
			</div>
			<div class="col-lg-8 col-sm-12">
				<div class="card">
					<img src="assets/images/signin.svg" alt="Forgot Password" />
				</div>
			</div>
		</div>
	</div>